* {
	margin: 0;
	padding: 0;
}
html, body, main {
	height: 100%;
}
a {
	text-decoration: none;
}
header {
	position:absolute;
	top: 20px;
	right: 20px;
}
.modal {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 16px;
	background-color: #fff;
	box-shadow: 0 3px 4px 5px rgba(0,0,0,0.2);
}
.flip-modal.login .modal-login,
.flip-modal.register .modal-register {
	transform: rotateY(0deg) translate(-50%,-50%);
	backface-visibility: hidden;
	transition: all 1s;
}
.flip-modal.login .modal-register,
.flip-modal.register .modal-login {
	transform: rotateY(180deg) translate(-50%,-50%);
	backface-visibility: hidden;
	transition: all 1s;
}
.tabs {
	text-align: center;
}
.tabs a {
	display: inline-block;
}
.active {
	border-bottom: 1px solid;
}
#fff>>>rgb

var 